/LAB4/part1/guessingGame/nbproject/private/
/LAB4/part1/guessingGame/build/
/LAB4/part1/guessingGame/dist/
/LAB4/part2/quiz/nbproject/private/
/LAB4/part2/quiz/dist/
/LAB4/part2/quiz/build/
/LAB5/emailclient/nbproject/private/
/LAB5/emailclient/build/
/LAB5/emailclient/dist/
