body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coursetable {
  border: solid 2px black;
  min-width: 250px;
}

.coursetable tbody tr td {
  border: solid 1px black;
}

#hide {
  display: none;
}

#green {
  background-color: green;
}

.logcomp {
  border: solid 1px black;
  width: 100%;
  max-width: 750px;
}