<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HTTPHandler</servlet-name>
        <servlet-class>classes.HTTPHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTTPHandler</servlet-name>
        <url-pattern>/gameServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <max-age>3600</max-age>
            <name>JSESSIONID</name>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>game.jsp</welcome-file>
    </welcome-file-list>
</web-app>
